:root {
  --gap-number: 10px;
  --lines-color: #f0f0f0;
  --purple: #593196;
  --white-color: #fafafa;
  --text-color: #4b4b4b;
  --black-color: #151515;
  --font-size: 14px;
  --font-family: "Roboto", sans-serif;
  --border-radius: 15px;
  --box-shadow: 10px 10px 40px 1px rgba(0, 0, 0, 0.21);
}

/* Reset */

html {
  box-sizing: border-box;
  background: var(--white-color);
  font-size: var(--font-size);
  font-family: var(--font-family);
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

* {
}

a,
img {
  -webkit-tap-highlight-color: transparent;
}

/* Structure */
body {
  background: var(--white-color) !important;
  color: var(--text-color);
  font-size: var(--font-size);
}

h1 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  color: #333;
  line-height: 30px;
}

h2 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: #333;
  line-height: 40px;
}

h3 {
  font-size: 16px;
  font-weight: 600;
  color: #999;
}

h4 {
  font-size: 16px;
  color: #333;
}

nav {
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid #333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #593196;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #593196;
  text-decoration: underline;
}

.btn-primary {
  color: #fff;
  background-color: #593196;
  border-color: #593196;
}

.btn-primary:hover {
  color: #fff;
  background-color: #482879;
  border-color: #422470;
}

.text-secondary {
  color: #a991d4 !important;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #e7e0f3;
}

/* user-perfil */
.user-perfil {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  height: 100%;

  & a {
    color: #333;
    text-decoration: none;
    opacity: 1;
  }

  & a:hover {
    color: #333;
    text-decoration: none;
    opacity: 0.8;
  }

  & .user-perfil-img {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;

    overflow: hidden;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      display: block;
    }

    & .placeholder {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 14px;
      color: #555;
      background-color: #ddd;
    }
  }

  & .user-perfil-dots {
    font-size: 22px;
    display: block;
    color: #333 !important;
    text-align: center;
    cursor: pointer;
    opacity: 1;
    width: 35px;
  }

  & .user-perfil-dots:hover {
    opacity: 0.8;
  }
}

.dropdown-menu {
  top: 60px;
}
.dropdown-menu .dropdown-item {
  line-height: 40px;
}

/* Containers */

.custom-box-height-full {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 7px 1px rgb(0 0 0 / 2%);
}

/* Calendar */

/* Calendar header */
.calendar-tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.calendar-tools > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.calendar-tools > div button {
  font-size: 16px;
  display: block;
  padding: 0 8px;
  background: transparent;
  border: none;
}

.calendar-tools > div h2 {
  font-size: 26px;
  padding: 5px 0 0;
}

/* avatar */
.avatar-container {
  position: relative;
  width: 100%;
  max-width: 180px;
  margin: 0 auto;
}

.avatar-wrapper {
  position: relative;
  aspect-ratio: 1 / 1;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  border: 3px solid #ccc;
}

.avatar-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  transition: opacity 0.3s ease;
}

.avatar-wrapper:hover .avatar-overlay {
  opacity: 1;
}
/* Calendar content */
.calendar {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 3px;
  margin: 0;
  padding: 0;
}

.day-name {
  font-size: 14px;
  margin-bottom: 2px;
  padding: 4px;
  text-align: center;
}

.day {
  display: block;
  height: 110px;
  padding: 5px;
  background-color: #fafafa;
}

.day.finde {
  background-color: #f3f3f3;
}

.day.today {
  background-color: #9d5dff2e;
}

.day-label {
  grid-row-start: 1;
  text-align: left;
  margin: 0;
}

.first-day-1 {
  grid-column-start: 1;
}

.first-day-2 {
  grid-column-start: 2;
}

.first-day-3 {
  grid-column-start: 3;
}

.first-day-4 {
  grid-column-start: 4;
}

.first-day-5 {
  grid-column-start: 5;
}

.first-day-6 {
  grid-column-start: 6;
}

.first-day-7 {
  grid-column-start: 7;
}

.day ul {
  width: 100%;
  height: 70px;
  margin: 5px 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
}

.day ul li {
  height: 30px;
  width: 30px;
  display: block;
  float: left;
  margin: 2px;
}

/* end of calendar */

.event-in-cal {
  height: 29px;
  width: 29px;
  background-size: cover;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  background-color: #a1a1a1;
  position: relative;
  text-decoration: none;
  overflow: visible;
  z-index: 500;
}

.event-in-cal-more {
  height: 29px;
  width: 29px;
  background: var(--purple);
  color: #fff;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  text-align: center;
  line-height: 29px;
  font-weight: 400;
  opacity: 1;
}

.event-in-cal-more:hover,
.event-in-cal:hover {
  color: #fff;
  opacity: 0.9;
  text-decoration: none;
}

/* Tooltip base */
.event-tooltip {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 220px;
  background: #000;
  color: white;
  border-radius: 6px;
  padding: 10px;
  z-index: 10;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  z-index: 1000;
}

.event-in-cal.show-tooltip .event-tooltip {
  opacity: 1;
  pointer-events: auto;
}

/* Posición abajo por defecto */
.tooltip-bottom {
  top: 110%;
}

/* Alternativa: hacia arriba si no hay espacio abajo */
.tooltip-top {
  bottom: 110%;
}

.event-tooltip img {
  max-width: 100px;
  max-height: 250px;
  margin-right: var(--gap-number);
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 5px;
  display: block;
  object-fit: cover;
  z-index: 1000;
}

.event-in-cal:hover .event-tooltip {
  display: flex;
  opacity: 1;
  pointer-events: auto;
}

/* event box :) */

.custom-box-vntbox {
  background: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.05);
}

/* avatar user */

.avatar-user {
  margin: 20px 0;
}

.avatar-user .event-in-cal {
  float: left;
  margin-right: 10px;
  opacity: 1;
}

.avatar-user .avatar-name {
  font-size: 14px;
  color: #333;
  display: block;
  line-height: 13px;
  opacity: 1;
}

.avatar-user .avatar-next-event {
  font-size: 12px;
  color: #999;
  opacity: 1;
}

.avatar-user:hover {
  opacity: 0.8;
}

.avatar-user .event-in-cal:hover,
.avatar-user .avatar-name:hover,
.avatar-user .avatar-next-event:hover {
  text-decoration: none;
}

/* Search */

.wrap-search {
  background-color: rgb(230, 230, 230);
  border-radius: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 44px;
  width: 300px;
  margin: 17px 10px 0 0;
}

.input-search {
  background-color: transparent;
  border: 0;
  margin-left: 10px;
  height: 34px;
  line-height: 37px;
  width: 85%;
}

.input-search:focus {
  outline: 0;
  border: 0;
}

/* btn add */

.avatar-add {
  float: right;
  border: 1px solid var(--purple);
  color: var(--purple);
  background: transparent;
  border-radius: 3px;
  margin-top: -13px;
  font-size: 11px;
  text-align: right;
  padding: 2px 10px;
}

.avatar-add:hover {
  border: 1px solid #fff;
  color: #fff;
  background: var(--purple);
  text-decoration: none;
  border-radius: 3px;
}

.avatar-added {
  float: right;
  border: 1px solid #fff;
  color: #fff;
  background: var(--purple);
  border-radius: 3px;
  margin-top: -13px;
  font-size: 11px;
  text-align: right;
  padding: 2px 10px;
}

.avatar-added:hover {
  border: 1px solid var(--purple);
  color: var(--purple);
  background: #fff;
  text-decoration: none;
  border-radius: 3px;
}

/* Profile */

.img-thumbnail-profile {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #ededed;
  max-width: 80%;
  height: auto;
  margin: 0 auto;
}

.fa-redo-alt {
  color: #333;
}

/* main events */

.main-events li {
  width: 100%;
}

.event-medium a {
  height: 100px;
  width: 100%;
  background-size: cover;
  display: block;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 1;
}

.event-medium a:hover {
  opacity: 0.8;
}

.event-details {
  font-size: 12px;
  margin: 0 0 20px;
  line-height: 40px;
}

.event-details .event-fecha {
  font-size: 10px;
  border-right: 1px solid var(--lines-color);
  text-align: center;
  line-height: 13px;
  color: #777;
  margin-top: 5px;
}

.event-details .event-fecha strong {
  text-transform: uppercase;
  font-size: 15px;
  display: block;
}

.event-details .event-title {
  line-height: 20px;
  padding-top: 6px;
}

.event-details .event-title small {
  font-size: 10px;
  color: #999;
}

/* Event detail */

.wrap-img-event {
  height: 300px;
  background-color: #000; /* por si no usás bg-dark */

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
}

.chekins-more-content {
  background: var(--purple);
  color: #fff;
  display: block;
  cursor: pointer;
  text-align: center;
  line-height: 29px;
  font-weight: 400;
  opacity: 1;
  height: 100px;
  line-height: 100px;
}

.added-more-content {
  background: var(--purple);
  color: #fff;
  display: block;
  cursor: pointer;
  text-align: center;
  line-height: 29px;
  font-weight: 400;
  opacity: 1;
  height: 62px;
  line-height: 62px;
}

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
}
.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}
.gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@media (max-width: 450px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}

@media (max-width: 400px) {
  .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
}

/* Footer */

footer {
  border-top: 1px solid var(--lines-color);
  color: #999;
}

footer a,
footer span {
  color: #999;
  font-size: 10px;
  display: inline;
}

footer a:hover {
  color: #777;
  text-decoration: underline;
}

/*  Bootstrap update */

.opacity-10 {
  opacity: 1;
}

.opacity-9 {
  opacity: 0.9;
}

.opacity-8 {
  opacity: 0.8;
}

.opacity-7 {
  opacity: 0.7;
}

.opacity-6 {
  opacity: 0.6;
}

.opacity-5 {
  opacity: 0.5;
}

.opacity-4 {
  opacity: 0.4;
}

.opacity-3 {
  opacity: 0.3;
}

.opacity-2 {
  opacity: 0.2;
}

.opacity-1 {
  opacity: 0.1;
}

.opacity-0 {
  opacity: 0;
}

@media screen and (orientation: portrait) {
  .calendar-tools .float-right {
    display: none;
  }

  .week {
    grid-template-columns: unset;
  }
}
:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

.dark {
  --background-color: #1a1a1a;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
